---
import Layout from "../../layouts/Layout.astro";
import PagosPropiedad from "../../components/pagos.jsx";

export function getStaticPaths() {
  return [{ params: { id: "placeholder" } }];
}

export const prerender = true;

const { id } = Astro.params;
---

<Layout title="Propiedad - Pagos">
  <div id="property-container" data-property-id={id}>
    <PagosPropiedad propertyId={id} client:load />
  </div>
</Layout>
