---
import Layout from "../layouts/Layout.astro";
import CotizadorForm from "../components/CotizadorForm";
import TablaRossHeidecke from "../components/TablaRossHeidecke";
---

<Layout title="Cotizador de Propiedades">
  <div class="max-w-6xl mx-auto px-4 py-8 gap-4">
    <div class="grid grid-cols-1 gap-10">
      <section class="bg-secondary rounded-lg shadow-lg">
        <CotizadorForm client:load />
      </section>

      <section>
        <TablaRossHeidecke client:load />
      </section>
    </div>
  </div>
</Layout>
