---
import Layout from "../layouts/Layout.astro";
import PropiedadesAlquilerApp from "../components/PropiedadesAlquilerApp.tsx";
---

<Layout title="Propiedades en Alquiler - Inmobiliaria">
  <div class="max-w-6xl mx-auto px-4 py-8 gap-4">
    <h1 class="text-4xl font-bold mb-6 text-center text-rosaOscuro relative">
      Gestión de Propiedades en Alquiler
    </h1>
    <PropiedadesAlquilerApp client:load />
  </div>
</Layout>
