---
import Layout from "../layouts/Layout.astro";
import PropiedadesAlquilerApp from "../components/PropiedadesAlquilerApp.tsx";
---

<Layout title="Argensador | Propiedades en Alquiler">
  <div class="max-w-6xl mx-auto px-2 py-4 gap-4">
    <h1 class="text-4xl font-bold text-center text-rosaOscuro relative">
      Propiedades en Alquiler
    </h1>
    <PropiedadesAlquilerApp client:load />
  </div>
</Layout>
