---
import Logo from "./Logo.astro";

const currentYear = new Date().getFullYear();

interface Props {
  showSocialLinks?: boolean;
  showContactInfo?: boolean;
}

const { showSocialLinks = true, showContactInfo = true } = Astro.props;
---

<footer
  class="bg-primary text-secondary py-8 mt-12 dark:bg-negro dark:text-grisClaro"
>
  <div class="container mx-auto px-6">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Logo y descripción -->
      <div class="flex flex-col items-center md:items-start">
        <Logo />

        <div class="flex flex-col items-center md:items-start gap-4">
          <p
            class="text-sm text-grisClaro dark:text-secondary text-center md:text-left"
          >
            Herramienta profesional para la valoración de propiedades
            inmobiliarias utilizando métodos precisos y actualizados.
          </p>
          <p
            class="text-sm text-grisClaro dark:text-secondary text-center md:text-left"
          >
            Brindado por Bottos Servicios Inmobiliarios.
          </p>
          <p
            class="text-sm text-grisClaro dark:text-secondary text-center md:text-left"
          >
            Desarrollado por <a
              href="https://marcoszinga.vercel.app/"
              target="_blank"
              rel="noopener noreferrer"
              class="text-secondary">Marcos Zingaretti</a
            >
          </p>
        </div>
      </div>

      <!-- Enlaces rápidos -->
      <div class="flex flex-col items-center md:items-start">
        <h3 class="text-lg font-semibold mb-3">Enlaces Útiles</h3>
        <ul class="flex flex-col">
          <a
            href="https://visualizadorcatastral.cba.gov.ar/"
            target="_blank"
            rel="noopener noreferrer">Catastro</a
          >
          <a
            href="https://www.rentascordoba.gob.ar/emision/ver-y-pagar/inmobiliario"
            target="_blank"
            rel="noopener noreferrer">Rentas</a
          >
        </ul>
      </div>

      <!-- Información de contacto -->
      {
        showContactInfo && (
          <div class="flex flex-col items-center md:items-start">
            <h3 class="text-lg font-semibold mb-3">Contacto</h3>
            <ul class="text-sm text-secondary dark:text-secondary gap-2">
              <a
                class="flex items-center"
                href="mailto:yulianabottos96@gmail.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="size-4 mr-2"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                  />
                </svg>
                yulianabottos96@gmail.com
              </a>
              <a
                class="flex items-center"
                href="tel:+5493584407187"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="size-4 mr-2"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                  />
                </svg>
                +54 9 3584 407187
              </a>
              <a
                class="flex items-center"
                href="https://maps.app.goo.gl/6Cb8cCxkK4CZpmhL7"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="size-4 mr-2"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                </svg>
                La Carlota, Cordoba, Argentina
              </a>
            </ul>
          </div>
        )
      }
    </div>

    <div
      class="border-t border-secondary0 mt-8 pt-6 flex flex-col md:flex-row justify-between items-center"
    >
      <p class="text-sm text-grisClaro dark:text-secondary mb-4 md:mb-0">
        &copy; {currentYear} Cotizador de Propiedades. Bottos Servicios Inmobiliarios.
      </p>

      {
        showSocialLinks && (
          <div class="flex gap-4">
            <a
              href="https://github.com/marcoszinga94/Propiedades-Cotizador"
              target="_blank"
              class="text-grisClaro hover:text-secondary dark:text-secondary dark:hover:text-grisClaro transition-all"
            >
              <span class="sr-only">GitHub</span>
              <svg
                class="h-6 w-6"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </div>
        )
      }
    </div>
  </div>
</footer>
