---
const currentYear = new Date().getFullYear();
---

<footer id="footer" class="bg-primary text-secondary py-8 mt-12">
  <p class="text-sm text-grisClaro mb-4 md:mb-0 text-center">
    &copy; {currentYear} Tasador de Propiedades. Bottos Servicios Inmobiliarios.
  </p>
</footer>
