---
const pathname = new URL(Astro.request.url).pathname;
---

<nav class="flex items-center flex-1 justify-end md:justify-center">
  <!-- Menú de escritorio -->
  <div class="hidden md:block">
    <ul class="flex gap-6">
      <li>
        <a
          href="/"
          class={`text-base lg:text-lg font-medium hover:text-white transition-colors ${pathname === "/" ? "font-bold border-b-2 border-white pb-1" : ""}`}
        >
          Inicio
        </a>
      </li>
      <li>
        <a
          href="/propiedades"
          class={`text-base lg:text-lg font-medium hover:text-white transition-colors ${pathname === "/propiedades" ? "font-bold border-b-2 border-white pb-1" : ""}`}
        >
          Propiedades
        </a>
      </li>

      <li>
        <a
          href="https://visualizadorcatastral.cba.gov.ar/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-base lg:text-lg font-medium hover:text-white transition-colors"
        >
          Catastro
        </a>
      </li>
      <li>
        <a
          href="https://www.rentascordoba.gob.ar/emision/ver-y-pagar/inmobiliario"
          target="_blank"
          rel="noopener noreferrer"
          class="text-base lg:text-lg font-medium hover:text-white transition-colors"
        >
          Rentas
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- Botón menú móvil -->
<div class="md:hidden">
  <button
    id="menu-toggle"
    class="text-secondary focus:outline-none p-1.5 rounded-md hover:bg-primary-dark transition-colors"
    aria-label="Abrir menú"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="size-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </button>
</div>

<!-- Menú móvil -->
<div
  id="mobile-menu"
  class="fixed inset-0 z-50 transform translate-x-full transition-transform duration-300 ease-in-out"
>
  <div class="flex h-full">
    <div
      id="menu-overlay"
      class="bg-black/70 absolute inset-0 opacity-0 transition-opacity duration-300"
    >
    </div>

    <div
      id="menu-content"
      class="bg-primary text-secondary w-4/5 max-w-xs h-full shadow-xl p-5 relative z-10 ml-auto transform translate-x-full transition-transform duration-300 ease-in-out"
    >
      <div class="flex justify-between items-center mb-8">
        <h2 class="text-xl font-bold">Menú</h2>
        <button id="close-menu" class="text-secondary hover:text-white p-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <ul class="flex flex-col space-y-5">
        <li>
          <a
            href="/"
            class={`block py-2 text-lg hover:bg-primary-dark/30 rounded-md px-3 transition-colors ${pathname === "/" ? "font-bold border-l-4 border-white pl-4" : "font-medium"}`}
          >
            Inicio
          </a>
        </li>
        <li>
          <a
            href="/propiedades"
            class={`block py-2 text-lg hover:bg-primary-dark/30 rounded-md px-3 transition-colors ${pathname === "/propiedades" ? "font-bold border-l-4 border-white pl-4" : "font-medium"}`}
          >
            Propiedades
          </a>
        </li>
        <li>
          <a
            href="https://visualizadorcatastral.cba.gov.ar/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-base lg:text-lg font-medium hover:text-white transition-colors"
          >
            Catastro
          </a>
        </li>
        <li>
          <a
            href="https://www.rentascordoba.gob.ar/emision/ver-y-pagar/inmobiliario"
            target="_blank"
            rel="noopener noreferrer"
            class="text-base lg:text-lg font-medium hover:text-white transition-colors"
          >
            Rentas
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<script is:inline>
  (function () {
    const menuToggle = document.getElementById("menu-toggle");
    const mobileMenu = document.getElementById("mobile-menu");
    const closeMenu = document.getElementById("close-menu");
    const menuOverlay = document.getElementById("menu-overlay");
    const menuContent = document.getElementById("menu-content");

    if (menuToggle && mobileMenu && closeMenu && menuOverlay && menuContent) {
      function showMenu() {
        document.body.style.overflow = "hidden";
        mobileMenu.classList.remove("translate-x-full");
        menuOverlay.classList.remove("opacity-0");
        menuContent.classList.remove("translate-x-full");
      }

      function hideMenu() {
        menuContent.classList.add("translate-x-full");
        menuOverlay.classList.add("opacity-0");
        setTimeout(() => {
          mobileMenu.classList.add("translate-x-full");
          document.body.style.overflow = "";
        }, 300);
      }

      menuToggle.addEventListener("click", (e) => {
        e.stopPropagation();
        showMenu();
      });

      closeMenu.addEventListener("click", (e) => {
        e.stopPropagation();
        hideMenu();
      });

      menuOverlay.addEventListener("click", hideMenu);

      const menuLinks = mobileMenu.querySelectorAll("a");
      menuLinks.forEach((link) => {
        link.addEventListener("click", hideMenu);
      });
    }
  })();
</script>
